:root {
  --pickled-bean: #743E24;
  --tahiti-gold: #D17E08;
  --white: #fff;
  --metallic-bronze: #49321B;
  --bridal-heath: #FFF9F3;
  --font-family: 'Bitter';
  --shadow: #8A6D4F;
  --rose-white: #FFFBFB;
  --font-size: 16px;
  --font-style: normal;
  --font-weight: 700;
  --line-height: 28px;
}
